@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background:  #9b59b6;
}
footer .contents{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #9b59b6;
  justify-content: space-between;
}
footer .contents p,a{
  color: #fff;
}
footer .contents .box{
  width: 100%;
  transition: all 0.4s ease;
}
footer .contents .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .contents p{
  text-align: justify;
}


footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #49346c;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .contents .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .contents .box{
    width: 50%;
  }
  .contents .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .contents .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .contents .middle{
    padding-left: 0;
  }
}