/* Brukes av: myEvents.php, createEvent.php, homepage.php */
/**
 * Generic Styling
*/
body {
  min-height: 100vh;
  background-color: lightblue;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  position: relative;
  line-height: 1.5;
  max-width: 60rem;
  margin: 10px;
  font-size: 100%;
}
/* Innhold */
 .content {
  max-width: 40%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  display: block;
  align-items: horizontal;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid;
}
.tabs label {
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  transition: background ease 0.2s;
}

.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}



