/* Brukes av: mineEvents.php, hjemmeside.php , event.php*/
/**
 * Generic Styling
*/

body {
  background-color: lightblue;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  position: relative;
  line-height: 1.5;
  max-width: 100%;
  height: 100%;
  margin: 10px;
  font-size: 100%;
}

/* Innhold */
.container{
  float: left;
  margin-left: 25px;
  padding: 50;
}
 .content {
  width: 450px;
  height: 500px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  display: block;
  justify-content: center;
  margin-bottom: 20px;
}

form .button{
  height: 45px;
  margin: 35px 0;
  width: 90%;
}
form .button input{
  height: 100%;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px; 
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
 /* transform: scale(0.99); */
 background: linear-gradient(-135deg, #71b7e6, #9b59b6);
 }

